* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  background-color: #789cbf;
}
.heading {
  text-align: center;
  letter-spacing: 3px;
  color: white;
  padding: 20px;
  margin: 10px auto;
  font-size: 1.4rem;
}
.container {
  width: 60vw;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.5);
}
.ribbon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
div[class$="-options"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  padding: 10px;
}
.options-btn {
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.bx {
  margin: auto;
  font-size: 1rem;
}
.input-formatter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
div[class$="color"] {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
select {
  padding: 5px;
  border: 1px solid #789cbf;
  border-radius: 3px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 40px;
  height: 25px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #789cbf;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #789cbf;
}
#text-input {
  padding: 15px;
  border: 1px solid #789cbf;
  border-radius: 10px;
  margin-top: 10px;
  height: 50vh;
}
#text-input:focus {
  outline: none;
}
